<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="index.php"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>